### Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

    Ho = Male and Female columns are independent.
    Ha = Male and Female columns are dependent.
    alpha = significance level = 5% = 0.05.
    For above example we use Chi-Square test.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
df = pd.read_csv(r"C:\Users\rohit\Downloads\Assignments\data science assignment\Hypothesis Testing\BuyerRatio.csv",
                 index_col=0)
df

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [3]:
obs = [[50,142,131,70],
       [435,1523,1356,750]]

In [4]:
test_stats, p, dof, exp = st.chi2_contingency(obs)
test_stats, p, dof, exp

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [5]:
observed = np.array([50, 142, 131, 70, 435, 1523, 1356, 750])
expected = np.array([42.76531299, 146.81287862, 131.11756787, 72.30424052, 442.23468701, 1518.18712138, 1355.88243213, 747.69575948])

In [7]:
test_stats, p_value = st.chisquare(observed,expected,ddof=3)
test_stats, p_value

(1.5959455390914483, 0.8095206646905712)

In [8]:
p_value

0.8095206646905712

In [9]:
alpha = 0.05

As (p > alpha), we fail to reject Ho. Hence, Male and Female columns are independent and male-female buyer rations are similar across regions.