### TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

    Ho = The defective % is independent of centre.
    Ha = The defective % is dependent of centre.
    alpha = significance level = 5% = 0.05.
    For above example we use Chi-square test.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
df = pd.read_csv(r"C:\Users\rohit\Downloads\Assignments\data science assignment\Hypothesis Testing\Customer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
pd.DataFrame([df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts()])

              Error Free  Defective
Phillippines         271         29
Indonesia            267         33
Malta                269         31
India                280         20

In [4]:
obs = [[271,267,269,280],[29,33,31,20]]
obs

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [5]:
test_stat, p, dof, exp = st.chi2_contingency(obs)
test_stat, p, dof, exp

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [6]:
observed = np.array([271,267,269,280,29,33,31,20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [7]:
test_stat, p_value = st.chisquare(observed, expected, ddof=3)
test_stat, p_value

(3.858960685820355, 0.4254298144535761)

In [8]:
p_value

0.4254298144535761

In [9]:
alpha = 0.05

As (p < alpha), we reject Ho. Hence, the defective % is dependent of centre.